{% load static %}
<head>
  <meta charset="utf-8">
  <title>Sage | Sign In</title>

  <script src="https://code.jquery.com/jquery-latest.min.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,800&display=swap" rel="stylesheet">
  <link href="{% static 'styles.css' %}" rel="stylesheet" >
  <script src="{% static 'actions.js' %}"></script>
</head>